.team-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

}

.teamtitle {
    color: var(--red);
    width: 50%;
}

.ttright {
    text-align: end;
}

.people-div {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.people-div.board {
    flex-wrap: wrap;
}

.red {
    color: var(--red);
}

.group {
    width: 80%;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    .group {
        flex-direction: column;
        align-items: center;
    }

    .right {
        flex-direction: column-reverse;
        align-items: center;
    }

    .ttright {
        text-align: center;
    }

    .teamtitle {
        width: 50%;
        align-self: center;
        text-align: justify;
    }
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

/* Adjustments for smaller screens */
@media screen and (max-width: 480px) {
    .group {
        width: 100%;
        /* Take full width on smaller screens */
        flex-direction: column;
        align-items: center;
    }

    .right {
        flex-direction: column-reverse;
        /* Reverse order for better stacking */
    }

    .ttright {
        text-align: center;
        /* Center align titles on smaller screens */
    }

    .teamtitle {
        width: 80%;
        /* Take up more width on smaller screens */
        align-self: center;
        text-align: center;
        /* Center align titles on smaller screens */
    }
}